body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


span.field-validation-error {
    color: red;
    font-weight: bold;
}


/* Bootstrap Override */

    /* Changing nav bar */
.navbar-inverse {
    background-color: #3DD8F4;
    border-color: #3DD8F4;
    background-image: linear-gradient(to left, #1a1bc5d4, #14dc3794);
}

.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-family: Montserrat;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #1c51ab;
}

    /* Changing style of dropdown menu */
.dropdown-menu > li > a {
    padding: 8px 12px;
    font-weight: 500;
}

.dropdown-menu {
    font-size: 17px;
}

@@media (max-width: 767px) .navbar-nav .open .dropdown-menu {
    background-color: white;
}


body {
    font-size: 18px;
}


    /* Changing color of nav bar */
.tooltip,
.popover,
body {
    font-family: Montserrat,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 18px;
    padding: 5px 14px;
    border-radius: 17px;
}

.btn {
    font-size: 18px;
    border-radius: 17px;
}

/* Generic Page-level style */

.upcomingEvents {
    list-style: none;
}

.upcomingEvents > li {
    position: relative;
    margin-bottom: 30px;
}

.upcomingEvents > li .details {
    position: absolute;
    top: 0px;
    left: 70px;
}
