@model IEnumerable<EventHub.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<ul class="upcomingEvents">
    @foreach( var events in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @events.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @events.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="planner">
                    @events.Planner.Name
                </span>
                <span class="theme">
                    @events.EventTheme.Name
                </span>
            </div>
        </li>
    }
</ul>